@using Web.Views.Home.Bikes
@{
	ViewData["Title"] = "Bikes";
}

<div class="sub-category-container wrap-width">
	@(Html.Kendo().Breadcrumb()
		.Name("breadcrumb")
		.Navigational(true)
		.Items(items =>
		{
			items.Add()
			.Type(BreadcrumbItemType.RootItem)
			.Href(@Url.Action("Index", "Home"))
			.ShowText(false)
			.Icon("home")
			.ShowIcon(true);
			items.Add()
			.Type(BreadcrumbItemType.Item)
			.Href(@Url.Action("Bikes", "Home"))
			.Text("Bikes")
			.ShowText(true);
		})
	)

	<component type="typeof(BikesNavigation)" render-mode="Static" />
</div>