<div class="column middle-container">
    <div class="middle-container-inner">
        @TopRow
    </div>
    @BottomRow
</div>

@code {
    [Parameter]
    public RenderFragment? TopRow { get; set; }

    [Parameter]
    public RenderFragment? BottomRow { get; set; }
}
